@import ".common";

.AboutPage-window {
  @extend .menu-window;
  position: absolute;
  left: 17%;
  right: 17%;
  top: 5%;
  bottom: 20%;
  margin: auto;

  @include smaller-screen() {
    left: 5%;
    right: 5%;
    top: 3%;
  }
}

.gameplay-img {
  width: 100%;
  height: auto;
  max-width: 550px;
  float: right;
}
