@import "./.common";

.map-area {
  @extend .App-screen-part;
  background-color: grey;
}

.side-bar {
  @extend .App-screen-part;
  padding: 0;
  max-height: 99.5vh;
  overflow-y: auto;
  overflow-x: hidden;
}
